@model IEnumerable<YGOCollection1.ViewModels.forindex3_2>

@{
    ViewBag.Title = "Index3_2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br>
<div class="container">
    <h2>各期補充包</h2>

    @foreach (var item2 in Model)
    {
        <div class="card">
            <div class="card-header">@Html.DisplayFor(modelitem => item2.Groupnames)</div>

            <div class="card-body">
                @foreach (var item3 in item2.Per)
                {
                    <a href="@Url.Action("Index", "YGOPack2")" class="btn btn-primary btn-lg">@Html.DisplayFor(modelitem => item3)</a>

                
                }

            </div>
        </div>
    }



</div>
